body { font-family: "EB Garamond"; }
* { font-family: "EB Garamond"; }
h1 { font-family: "EB Garamond"; }
h2 { font-family: "EB Garamond"; }
.block-body { font-family: "EB Garamond"; font-size: 1.2em; }
