body { font-family: "'GTAmericaMono-Light'"; }
* { font-family: "'GTAmericaMono-Light'"; }
h1 { font-family: "'GTAmericaMono-Light'"; }
h2 { font-family: "'GTAmericaMono-Light'"; }
.block-body { font-family: "'GTAmericaMono-Light'"; font-size: 1.2em}
